
<!-- company-form.component.html -->
<form class="form-container" (ngSubmit)="submitForm()" *ngIf="userRole.role === 'admin'">
  <mat-form-field class="form-field" appearance="fill"  style="width:75%">
    <mat-label>Topic Name</mat-label>
    <input matInput placeholder="Topic Name" [(ngModel)]="companyName" name="companyName">
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill" style="width:75%">
    <mat-label>Definition</mat-label>
    <textarea matInput placeholder="Definition" [(ngModel)]="companyHR" name="Definition"></textarea>
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill"  style="width:75%">
    <mat-label>Course</mat-label>
    <input matInput placeholder="Course" [(ngModel)]="hrContact" name="hrContact">
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill" style="width:75%">
    <mat-label>Example</mat-label>
    <textarea matInput placeholder="Example" [(ngModel)]="example" name="example"></textarea>
  </mat-form-field>
  <button  mat-raised-button color="primary" *ngIf="adddata">Add</button>
  <button  mat-raised-button color="primary" *ngIf="updatedata" (click)="editUser()">update</button>

 
</form>
  <mat-form-field class="form-field">
    <input matInput placeholder=" search Topic Name" [(ngModel)]="serach" name="serach">
  </mat-form-field>
  
  <!-- company-list.component.html -->
  <!-- company-list.component.html -->
<table mat-table [dataSource]="companies | management:serach" class="mat-elevation-z8" style="border: 1px solid #ccc;">
  <!-- Company Name Column -->
  <ng-container matColumnDef="companyName">
    <th mat-header-cell *matHeaderCellDef> Topic name </th>
    <td mat-cell *matCellDef="let company"> {{ company.companyName }} </td>
  </ng-container>

  <!-- Company HR Column -->
  <ng-container matColumnDef="companyHR">
    <th mat-header-cell *matHeaderCellDef> Defination</th>
    <td mat-cell *matCellDef="let company"> {{ company.companyHR }} </td>
  </ng-container>

  <!-- HR Contact Detail Column -->
  <ng-container matColumnDef="hrContact">
    <th mat-header-cell *matHeaderCellDef> course</th>
    <td mat-cell *matCellDef="let company"> {{ company.hrContact }} </td>
  </ng-container>

  <!-- Edit and Delete Column -->
  <ng-container matColumnDef="actions"  >
    <th mat-header-cell *matHeaderCellDef > Actions </th>
    <td mat-cell *matCellDef="let company" >
      <button mat-icon-button color="primary" (click)="editCompany(company)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteUser(company.id)">
        <mat-icon aria-label="Delete" *ngIf="userRole.role === 'admin'">delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="View">
    <th mat-header-cell *matHeaderCellDef> view</th>
    <td mat-cell *matCellDef="let company"><button mat-icon-button color="success" (click)="Viewdetails(company)">
      <mat-icon aria-label="view">visibility</mat-icon>
    </button> </td>
  </ng-container>
  <!-- Header Rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Data Rows -->
  <tr mat-row *matRowDef="let company; columns: displayedColumns;"></tr>
</table>
