<div >
    <div class="header bg-light p-3">
      <div class="left">
        <div class="date">{{newdate | date:'MMM d, y'}}</div>
        <div class="welcome">Welcome, {{ userName }}</div>
      </div>
      <div class="right">
        <div *ngIf="startTimeString && !stopTimeString">
            {{'Start Time:' + startTimeString}}
          </div>
        <button [ngClass]="STime == 'Start Time'? 'btn btn-success':'btn btn-danger'" (click)="starttime(STime)">{{STime}}</button>
        
      </div>
    </div>
    <div class="content mt-3">
      <!-- Additional content goes here -->
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>SNo</th>
                  <th>Employee name</th>
                  <th>Start Time</th>
                  <th>Stop Time</th>
                  <th>Total Hour</th>
                  <th>Updatedate</th>
                  <th>Status</th>
                  <th>Updated By</th>
                  <th>Daily Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let x of attendance; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ x.name }}</td>
                  <td>{{ x.startTime.StartTime }}</td>
                  <td>{{ x.startTime.StopTime }}</td>
                  <td>{{ x.startTime.totalhours }}</td>
                  <td>{{ x.startTime.updateDate.toDate() | date: 'yyyy-MM-dd' }}</td>
                  <td [ngClass]="statusCode(x.startTime.status)">{{ x.startTime.status }}</td>
                  <td>{{ x.startTime.updateby ? x.startTime.updateby : 'Pending' }}</td>
                  <td>
                    <div ngbDropdown>
                      <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton"
                        ngbDropdownToggle (click)="clickonview(i)">
                        <i class="bi bi-three-dots-vertical"></i>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" *ngIf="dropdown[i]">
                        <button class="dropdown-item" (click)="viewAttendance()">View</button>
                        <button class="dropdown-item" (click)="editAttendance()">Edit</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center loader-overlay" *ngIf="isLoading">
      <div class="spinner-border" role="status">
        
      </div>
      <span >Loading...</span>
    </div> 
 