/* sidenav.component.css */

.sidenav-container1 {
  background-color: #333; /* Example background color */
  color: #fff; /* Example text color */
}

.sidenav-link1 {
  color: #181515; /* Example color for navigation links */
}
/* navbar.component.css */






/* navbar.component.css */
.navbar-list1 {
  padding: 0;
 
}

.navbar-link1 {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 10px;
  color: #889de1;
  text-decoration: none;
  transition: background-color 0.3s;
  font-family: 'Arial', sans-serif; /* Change font family */
  background-color: #333; /* Change background color */
}

.navbar-link1:hover {
  background-color: #64686a;
}

.navbar-icon {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .navbar-link {
    padding: 15px;
  }
  
}

.active {
  border-right: 20px solid aqua; /* Example highlighting style */
  background-color: aqua;
  border-radius:20px ;
}
.arrow-icon {
  margin-left: auto; /* Move the arrow to the right side */
}
::ng-deep .mat-drawer-side{
  border-right-style:none
}
