
<mat-nav-list class="navbar-list1">
  <a  routerLink="/Layout/dashboard" class="navbar-link1" routerLinkActive="active">
    <mat-icon class="navbar-icon">dashboard</mat-icon>
    <span>Dashboard</span>
    <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
  </a>
  <a  *ngIf="userRole.role === 'admin'"  routerLink="/Layout/employeedetail" class="navbar-link1" routerLinkActive="active">
    <mat-icon class="navbar-icon">people</mat-icon>
    <span>Employee Portal</span>
    <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
  </a>
  <a *ngIf="userRole.role === 'admin'"  routerLink="/Layout/addnewuser" class="navbar-link1" routerLinkActive="active">
    <mat-icon class="navbar-icon">person_add</mat-icon>
    <span>Add New User</span>
    <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
  </a>
  <a   *ngIf="userRole.role === 'admin'" routerLink="/Layout/attendance" class="navbar-link1" routerLinkActive="active">
    <mat-icon class="navbar-icon">date_range</mat-icon>
    <span>Attendance</span>
    <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
  </a>
  <a  *ngIf="userRole.role === 'admin'" routerLink="/Layout/timesheet" class="navbar-link1" routerLinkActive="active">
    <mat-icon class="navbar-icon">schedule</mat-icon>
    <span>Timesheet Management</span>
    <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
  </a>
  <a routerLink="/Layout/Interview" class="navbar-link1" routerLinkActive="active">
    <mat-icon class="navbar-icon">record_voice_over</mat-icon>
    <span>Interview Question</span>
    <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
  </a>
  <!-- Add other links here -->
</mat-nav-list>
