table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
    table {
        overflow-x: auto;
    }
}

.status-success {
    list-style-type: disc;  
    color: lightgreen;
}

.status-pending {
    color: yellow;
}

.status-reject {
    color: red;
}
