<app-header (toggleSidenav)="toggleSidenav()"></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="!isSidenavCollapsed" (openedChange)="onSidenavToggle($event)" class="fixed-sidenav">
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="content">
      <!-- Your main content here -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

