

.fixed-sidenav {
  position: fixed;
  top: 69px; /* Adjust top position to account for the header height */
  bottom: 0;
  background-color: #333;
}

.sidenav-content {
 
  height: calc(100vh - 64px); /* Adjust height to account for the header height */
 /* Enable vertical scrolling for content */
}




